services:
  api:
    build: .
    image: my-fastapi-project:local
    container_name: fastapi_app
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - postgres

  postgres:
    image: postgres:16
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_PASSWORD: Wasiem123456
      POSTGRES_DB: fastapi
      POSTGRES_USER: postgres
    volumes:
      - postgres-db:/var/lib/postgresql/data

volumes:
  postgres-db:
